<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StockMapper">

	<select id="Stock_list" resultType="Stock">
		select
		product_code,product_name,product_amount,product_minimum_amount,product_enter_date,product_enter_date,
		product_e_amount,product_e_cost from (
		select a.product_code as product_code,a.product_name as product_name,
		a.product_amount as product_amount,
		a.product_minimum_amount as product_minimum_amount, b.product_enter_date as
		product_enter_date,
		b.product_e_amount as product_e_amount, b.product_e_cost as product_e_cost
		from STOCK_LIST a, STOCK_ENTER b
		where a.product_code = b.product_code)
	</select>
	
	<select id="Stock_list2" resultType="Stock" parameterType="Stock">
		select
		product_code,product_name,product_amount,product_minimum_amount,product_enter_date,product_enter_date,
		product_e_amount,product_e_cost from (
		select a.product_code as product_code,a.product_name as product_name,
		a.product_amount as product_amount,
		a.product_minimum_amount as product_minimum_amount, b.product_enter_date as
		product_enter_date,
		b.product_e_amount as product_e_amount, b.product_e_cost as product_e_cost
		from STOCK_LIST a, STOCK_ENTER b
		where a.product_code = b.product_code)
	</select>

	<update id="Stock_modify" parameterType="Stock">
		update stock_list set
		product_amount=#{product_amount} where product_code = #{product_code}
	</update>
</mapper>